<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="sha" content="<%= sha %>" />
    <meta name="tag" content="<%= tag %>" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" /> -->
    <title>Doc Man</title>
  </head>
  <body>
    <div id="root"></div>
    <script>
      __dirname = '' // fix styled-jsx bug
    </script>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
